/* Sidebar container */

.sidebar {
  width: 250px;
  background-color: #002d62;
  color: #fff;
  flex-direction: column;
  height: 100vh;        /* Always full screen height */
  position: fixed;      /* Stay fixed */
  top: 0;
  left: 20;
  overflow-y: auto;     /* Enable scrolling inside sidebar if content is long */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.sidebar.collapsed {
  width: 80px;
}

/* Sidebar header */
.sidebar-header {
     height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  background-color: #002d62;
}

.collapse-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Menu list */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

/* Menu item */
.menu-item {
  display: flex;
  flex-direction: column;
   color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.menu-main {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
   color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: n
}

/* .menu-item:hover .menu-main {
  background-color: white;
} */

.menu-item.active .menu-main {
  background-color: rgb(129, 183, 235);
  font-weight: bold;
}

.menu-icon {
  margin-right: 10px;
  font-size: 18px;
}

.menu-text {
  flex: 1;
}

/* Submenu */
.submenu {
  list-style: none;
  padding-left: 40px;
  margin: 0;
   color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: n
}

.submenu-item {
  padding: 8px 0;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
   color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

/* .submenu-item:hover {
  color: #1abc9c;
} */

/* Sidebar footer / user profile */
.sidebar-footer {
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.user-profile {
  display: flex;
  align-items: center;
}

.avatar {
  font-size: 24px;
  margin-right: 10px;
}

.user-info .user-name {
  font-weight: bold;
}

.user-info .user-role {
  font-size: 12px;
  color: #bdc3c7;
}

/* Collapsed view adjustments */
.sidebar.collapsed .menu-text,
.sidebar.collapsed .submenu {
  display: none;
}

.sidebar.collapsed .sidebar-footer {
  display: none;
}
